body {
    margin: 0;
    padding: 0; 
    background: radial-gradient(circle at 20% 20%, #fde2e4 0%, transparent 60%),
                radial-gradient(circle at 80% 30%, #e2f0ff 0%, transparent 60%),
                radial-gradient(circle at 30% 80%, #e7e6ff 0%, transparent 60%),
                radial-gradient(circle at 70% 70%, #e2ffe9 0%, transparent 60%),
                #f8f4ff;
    background-size: cover;
    background-attachment: fixed;
}
/* Theme 
Bold indigo #2b59ff;
Header and Footer light purple #a7a7ffff

// Gradient combinations 
pink:       purple:
green:      blue:
*/

/* Page Headers */
h1 {
    display: flex;
	justify-content: center;
    font-weight: 300;
    
    font-size: 2.6rem;
    background: linear-gradient(90deg, #ff59ecff, #4c88ffff);
    -webkit-background-clip: text;
    color: transparent;
}

/* Page description */
h3 {
    display: flex;
	justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: 300;
    font-family: "Verdana";
    color: #411eb4c9;
}
