---
/* Some text-based emoji's I found-->  ❤ ⋆˙⟡♡ ☆  ♡  ♥︎  -`♡´-  ⋆˙⟡♡  ❀  ✮⋆˙  ⟡  ⋆˚꩜｡  ⋆✴︎˚｡⋆   ✦    ☏.    ✉︎      ⊹ ࣪ ˖  */
---

<div class = "footer">
    <div class = "credit">
        © Kahnishga Solaidurairaj. Made with ♥ and code
    </div>
    <div class = "btn links">
        github linkedin mail
    </div>
</div>

<style>
.footer {
    background-image: linear-gradient(45deg, #ddffcfff, #ffc1f3ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;

    font-weight: 300;
    font-family: "Verdana";
    color: #323e83ff;

    position: static;
    margin-top: 4rem;
    bottom: 0px;
    left: 0;
    right: 0;
}
</style>