---
/* Some text-based emoji's I found-->  ❤ ⋆˙⟡♡ ☆  ♡  ♥︎  -`♡´-  ⋆˙⟡♡  ❀  ✮⋆˙  ⟡  ⋆˚꩜｡  ⋆✴︎˚｡⋆   ✦    ☏.    ✉︎      ⊹ ࣪ ˖  */
---

<div class = "footer">
    <div class = "credit">
        © Kahnishga Solaidurairaj. Made with ♥ and code
    </div>

    <div class = "btnLinks">
        <a href = "https://github.com/KahnishgaSolaidurairaj">
            <img src="/Portfolio/public/images/github-icon.png"/>
        </a>
        <a href = "https://www.linkedin.com/in/kahnishga-solaidurairaj">
            <img src="/Portfolio/public/images/linkedin-icon.png"/>
        </a>
        <a href = "mailto:krishnakani19@gmail.com" >
            <img src="/Portfolio/public/images/email-icon.png"/>
        </a>
    </div>
</div>

<style>
.footer {
    background: #a7a7ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    font-weight: 300;
    font-family: "Verdana";
    color: #323e83ff;

    position: static;
    margin-top: 4rem;
    bottom: 0px;
    left: 0;
    right: 0;
}

.btnLinks a{
    text-decoration: none;
}

.btnLinks img {
    width: 32px;
    height: auto;
    padding: 5px;
}
</style>