<div class="nav">
  <div class = "left">
    Kahnishga Solaidurairaj
  </div>

  <div class = "links">
    <a href = "/Portfolio/">Home</a>
    <a href = "/Portfolio/blog">Blog</a>
    <a href = "/Portfolio/projects">Projects</a>
    <a href = "/Portfolio/resume">Resume</a>
    <a href = "/Portfolio/contact">Contact</a>
  </div>
</div>

<style>
.nav {
  background: #a7a7ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0px;

  position: sticky;
  top: 0;
  z-index: 999;
}

.left {
  font-family: "Verdana";
  color: #323e83ff;
  justify-content: flex-start;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  font-weight: 300;
  font-family: "Verdana";
  color: #323e83ff;
  justify-content: flex-end;
  transition: color 0.2s ease;
  text-decoration: none;
}

.links a:hover {
  color: #c4297eff;
}

</style>